@font-face{
  font-family: 'Source Code Pro';
  font-weight: normal;
  font-style: normal;
  src: url('SourceCodePro-Medium.eot') format('embedded-opentype'),
    url('SourceCodePro-Medium.otf.woff') format('woff'),
    url('SourceCodePro-Medium.otf') format('opentype'),
    url('SourceCodePro-Medium.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Source Code Pro', monospace;
  color: black;
  margin: 0;
  padding: 0;
  font-size: 12pt;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}

hr {
  height: 1.25em;
  border: none;
  margin: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 37%,rgba(0,0,0,1) 37%,rgba(0,0,0,1) 45%,rgba(0,0,0,0) 45%,rgba(0,0,0,0) 55%,rgba(0,0,0,1) 55%,rgba(0,0,0,1) 63%,rgba(0,0,0,0) 63%,rgba(0,0,0,0) 100%);
}

#inputValue {
  border-radius: 0;
  background: transparent;
  width: 100%;
  background: transparent;
  border: 1px solid black;
  font: inherit;
  padding: 0;
  margin: 0;
  border: none;
}

#output {
  margin: 0;
  list-style: none;
  padding: 1em;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
}

#output li {
  margin-left: 2ex;
  line-height: 1.25em;
}

#output li:before {
  position: absolute;
  left: 1em;
}

#output li.input:before {
  content: '< ';
}

#output li.output:before {
  content: '> ';
}

#output li.error {
  color: red;
}
